{% extends "base.html" %}

{% block content %}

<h3>User Registration</h3>

<form method="POST">


<input type="text" name="name" class="form-control mb-3" placeholder="Name">
<input type="email" name="email" class="form-control mb-3" placeholder="Email">
<input type="password" name="password" class="form-control mb-3" placeholder="Password">
<input type="text" name="phone" class="form-control mb-3" placeholder="Phone Number">
<button class="btn btn-success">Register</button>

</form>

{% endblock %}